APP_ENV=production
DATABASE_URL=postgresql://postgres.xxxxx:PASSWORD@aws-xxxx.pooler.supabase.com:5432/postgres?sslmode=require
SECRET_KEY=PROEMPRESA_CORE_CAMBIAR_EN_RENDER
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:5173
